* {
    color: #fff;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.carousel-item img {
    object-fit: cover;
    filter: brightness(50%);
}